<label for="module" class="col-sm-2 control-label">Module</label>
<div class="col-sm-4">
  <select name="modules" class="form-control">
      <option value="-1">All ({{modules.length}})</option>
    {{#each modules}}
      <option value="{{name}}">{{name}}</option>
    {{/each}}
  </select>
</div>
