<label for="opsys" class="col-sm-2 control-label">Operating System</label>
<div class="col-sm-4">
  <select name="opsys" class="form-control">
      <option value="-1">All</option>
    {{#each opsys}}
      <option value="{{id}}">{{name}}</option>
    {{/each}}
  </select>
</div>