<label for="platform" class="col-sm-2 control-label">Platform</label>
<div class="col-sm-4">
  <select name="platform" class="form-control">
      <option value="-1">All</option>
    {{#each platforms}}
      <option value="{{id}}">{{name}}</option>
    {{/each}}
  </select>
</div>