<!-- Nav tabs -->
<ul id="sentiments-tabs" class="nav nav-tabs" role="tablist">
  <li role="presentation" class="{{comsentiment}}">
    <a href="/sentiments/commit_sentiment" aria-controls="comsentiment" role="tab">Sentiments per commit</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  {{!-- commits per sentiment --}}
  <div role="tabpanel" class="tab-pane {{comsentiment}}" id="comsentiment">
    <div class="row">
      <br>

      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"></h3>
            <br>

            <form class="form-horizontal">
              <div class="form-group form-group-sm">

                {{!-- switch user control --}}
                <div class="row" id="comsentiment_users">
                  {{!-- here goes the users dropdown --}}
                </div>

                {{!-- switch category control --}}
                <div class="row" id="comsentiment_categories">
                  {{!-- here goes the categories dropdown --}}
                </div>

                {{!-- switch attribute control --}}
                <div class="row" id="comsentiment_attribute">
                  <label for="attribute" class="col-sm-2 control-label">Attribute</label>
                  <div class="col-sm-10">
                    <label class="radio-inline">
                      <input type="radio" name="attribute" id="locs" value="LOC" checked="checked"> LOC
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="attribute" id="locadded" value="linesAdded"> LOC added
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="attribute" id="locremoved" value="linesRemoved"> LOC removed
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="attribute" id="sentences" value="sentences"> Sentences
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="attribute" id="words" value="words"> Words
                    </label>
                  </div>
                </div>

                {{!-- switch sentiment control --}}
                <div class="row" id="comsentiment_sentiment">
                  <label for="sentiment" class="col-sm-2 control-label">Sentiment</label>
                  <div class="col-sm-10">
                    <label class="radio-inline">
                      <input type="radio" name="sentiment" id="total" value="200" checked="checked"> All
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="sentiment" id="positive" value="2"> Positive
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="sentiment" id="somewhatPositive" value="1"> Somewhat Positive
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="sentiment" id="neutral" value="0"> Neutral
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="sentiment" id="somewhatNegative" value="-1"> Somewhat Negative
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="sentiment" id="negative" value="-2"> Negative
                    </label>
                  </div>
                </div>

                {{!-- switch chart type control --}}
                <div class="row" id="comsentiment_charttype">
                  <label for="charttype" class="col-sm-2 control-label">Chart-Type</label>
                  <div class="col-sm-4">
                    <label class="radio-inline">
                      <input type="radio" name="chartype" id="charttypetrend" value="trend" checked="checked"> trend
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="chartype" id="charttypeboxplot" value="boxplot"> boxplot
                    </label>
                  </div>
                </div>

              </div>
            </form>
          </div> {{!-- panel-heading --}}

          <div class="panel-body">
            <div id="comsentiment-chart">
              {{!-- here goes the chart --}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
