<label for="version" class="col-sm-2 control-label">Version</label>
<div class="col-sm-4">
  <select name="version" class="form-control">
      <option value="-1">All</option>
    {{#each versions}}
      <option value="{{id}}">{{name}}</option>
    {{/each}}
  </select>
</div>