<script type="text/javascript" src="/javascripts/modules/processmetrics.js"></script>
<script type="text/javascript">
$(function( ) {
  MC.Processmetrics.init( );
});
</script>

<div id="processmetrics-panel">
  {{> processmetrics_tabs}}
</div>