<script type="text/javascript" src="/javascripts/modules/sentiments.js"></script>
<script type="text/javascript">
$(function( ) {
  MC.Sentiments.init( );
});
</script>

<div id="sentiments-panel">
  {{> sentiments_tabs}}
</div>
