<script type="text/javascript" src="/javascripts/modules/sentiments.js"></script>
<script type="text/javascript">
$(function( ) {
  MC.Sentiments.init( );
});
</script>

<h1>{{title}}</h1>
<p>{{subtitle}}</p>
