<script type="text/javascript" src="/javascripts/modules/userprofiles.js"></script>
<script type="text/javascript">
$(function( ) {
  MC.Userprofiles.init( );
});
</script>

<div id="userprofiles-panel">
  {{> userprofiles_tabs}}
</div>

